Post::create([
    'title' => 'Judul Ke Tiga',
    'slug' => 'judul-ke-tiga',
    'excerpt' => 'Lorem ipsum ke tiga',
    'body' => '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero tempore reprehenderit numquam eligendi iste recusandae. Aliquam suscipit maxime magnam culpa repudiandae esse,</p><p>incidunt, debitis nemo, aperiam quas ullam perspiciatis ipsam. Voluptates ipsum eum laboriosam repellendus accusantium. Similique eius ad consectetur autem, voluptas fuga, saepe at incidunt modi necessitatibus adipisci illum libero! Optio atque distinctio commodi illo odit officia alias quia vero quis? Amet consectetur earum dolores asperiores assumenda aspernatur voluptates, odit, officiis architecto perferendis accusantium,laborum ipsum ipsa sunt adipisci fuga! Magnam autem doloremque illo quam rem.</p><p>Tenetur corporis, non ipsum, nihil voluptatibus et tempora minus reprehenderit impedit vitae exercitationem rem numquam neque consequatur provident eveniet culpa, aspernatur soluta quisquam? Maiores facere dignissimos quos temporibus nesciunt, asperiores veniam repellendus inventore laborum molestias dolores quidem placeat voluptas amet sapiente rerum, hic dolore qui ipsum doloremque quis? Consequatur voluptates vero placeat est labore doloribus accusantium quos. Tenetur laborum cum voluptas incidunt temporibus.</p>'
])
<!-- !fungsi Update pada tinker / database -->
Post::find(3)->update(['title' => 'Judul Ke Tiga Berubah'])
<!-- !Menggunakan query where untuk merubah pada database menggunakan tinker -->
Post::where('title','Judul Ke Tiga Berubah')->update(['excerpt' => 'excerpt post 3 berubah'])